# dépendances
node_modules

# builds
dist
.output
.vercel
.nitro

# env
.env*
!.env.example

# prisma client généré
/server/generated/

# logs / divers
*.log
.DS_Store
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea

# claude code (local)
.claude/settings.local.json
